@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

html {
  --color-primary: lightblue;
}

/* MICRO RESET & INITIAL STYLES */
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 800px;
  margin: 4rem auto 0;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img,
iframe {
  border: 0;
}

/* course styles */
